@page
@model Lab2.Pages.Login.FacultyLandingModel
@{
}
@{
    ViewData["Title"] = "Faculty Landing";
}

<h2>Faculty Portal</h2>

@if (ViewData["LoginMessage"] != null)
{
    <p class="text-success">@ViewData["LoginMessage"]</p>
}

<a asp-page="ParameterizedLogin" asp-route-logout="true" class="btn btn-danger">Logout</a>
