@page
@model Lab2.Pages.Login.GOAdminLandingModel
@{
}
@{
    ViewData["Title"] = "Grant Org Admin Landing";
}

<h2>Grant Org Admin Portal</h2>

@if (ViewData["LoginMessage"] != null)
{
    <p class="text-success">@ViewData["LoginMessage"]</p>
}

<a asp-page="ParameterizedLogin" asp-route-logout="true" class="btn btn-danger">Logout</a>
