@page
@model Lab2.Pages.Login.SecureLoginLandingModel
@{
}

@{
    ViewData["Title"] = "Secure Login Landing";
}

<h2>Welcome</h2>

@if (ViewData["LoginMessage"] != null)
{
    <p class="text-success">@ViewData["LoginMessage"]</p>
}

@if (ViewData["PermissionMessage"] != null)
{
    <p class="text-warning">@ViewData["PermissionMessage"]</p>
}

<a asp-page="ParameterizedLogin" asp-route-logout="true" class="btn btn-danger">Logout</a>